body{
  margin:0;
  padding:0;
  background-color: #48a9dd;
  font-family: sans-serif;
  overflow-x: hidden;
}

.container{
  display:table;
  width:100%;
  height:90vh;
  margin:0 auto;
  padding:0 10px;

  box-sizing: border-box;
}

.myRow{
  display:table-row;
  padding:20px;
  margin-bottom:20px;
}

.myCol{
  display:table-cell;
  position: relative;
  width:50%;
  height:200px;
  border-radius:10px;
}

.btn{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width:95%;
  height:98%;
  top:0;left:0;bottom:0;right:0;
  margin:auto;
  background-color: white;
  border-radius:10px;
}

footer{
  position: absolute;
  bottom:0;
  width:100%;
  background-color:#3580a8;
  padding:5px;
  box-sizing: border-box;
}

footer p{
  padding:0;
  margin:0;
  font-size:15px;
  text-align: center;
  color:white;
}

footer strong{
  color:#FF6B6B;
}

svg{
  position: relative;
  display: table;
  padding-top:70px;
}

.btn:hover{
  background-color: rgba(255,255,255,.8);
}
